html {
    overflow-x: hidden;
    height: 100%;
}
body {
   background-color: rgb(209,216,192);
   position: absolute;
   margin: 0;
   background-size: 100%;
   height: 100%;
   width: 100%;
}
@font-face {
    font-family: ShadowsIntoLight;
    src: url('../fonts/ShadowsIntoLight.ttf');
}
.siteName {

   font-family: ShadowsIntoLight;
   font-size: 2em;
}
header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.imageForMainPage {
   background-image: url(../images/travel.png);
   width: 400px;
   height: 390px;
}
#main {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.divContainerForDivs {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   width: 75px;
   flex-wrap: wrap;
}
.svg_i-msg {
   width: 70px;
   height: 70px;
   border-top: 1px solid black;
   border-left: 1px solid black;
   transform: rotate(224deg);
}
.svg_i-msg svg {
   transform: rotate(-224deg);
}
.svg_i-external {
   width: 70px;
   height: 70px;
   border-top: 1px solid black;
   border-left: 1px solid black;
   transform: rotate(45deg);
   margin-top: -7px;
}
.svg_i-external svg {
   transform: rotate(-45deg);
}
