html {
    overflow-x: hidden;
    height: 100%;
}
body {
   background-color: rgb(209,216,192);
   position: absolute;
   margin: 0;
   background-size: 100%;
   height: 100%;
   width: 100%;
}
@font-face {
    font-family: ShadowsIntoLight;
    src: url('../fonts/ShadowsIntoLight.ttf');
}
.siteName {

   font-family: ShadowsIntoLight;
   font-size: 2em;
}
header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.imageForMainPage {
   margin: auto;
   background-image: url(../images/travel.png);
   width: 400px;
   height: 390px;
}
#main {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.divContainerForDivs {
   display: flex;
   flex-direction: row;
   
}
